%h1

-#= link_to "Add Artwork", new_artwork_path

%h1
- if artist_signed_in?
  %p#intro
    Hello
    = current_artist.name
    %br/
    %span
      Share your artworks with the world

- @artworks.each do |artwork|
  =link_to (image_tag artwork.image.url(:small) ), artwork
  %h2= link_to artwork.title, artwork
  %p
    = artwork.comments.count
    Comments

  %p
    = artwork.get_upvotes.size
    Likes

  %p
    = link_to "Like", like_artwork_path(artwork), method: :get
