= image_tag @artwork.image.url(:medium)
%h1= @artwork.title
%p= @artwork.link
%p= @artwork.description
%p= @artwork.artist.name
%p
  = @artwork.get_upvotes.size
  Likes
%p
  = @artwork.get_downvotes.size
  Dislikes

= link_to "Like", like_artwork_path(@artwork), method: :get
= link_to "Dislike", dislike_artwork_path(@artwork), method: :get


= render @artwork.comments
%h4
  = render 'comments/form'
  -#
  -#<div id=comment>
  -#  <h2 class=comment_count>
  -#      <%= pluralize(@artwork.comments.count, "Comment") %>
  -#  </h2>
  -# <% comments.each do |comment| %>
  -#    <div class=comment>
  -#       <p class=username > <%= comment.artist.name %>
  -#                           <%= comment.content %>
  -#       </p>
        <% end %>
  -#
  -#       <%= render 'comments/form' %>
  -#    </div
  -#
  -#</div>



= link_to "Home", root_path
= link_to "Edit", edit_artwork_path(@artwork)
= link_to "Destroy", artwork_path, method: :delete, data: {confirm: 'Are you sure?'}